body{
    margin: 0px;
    padding: 0px;
    font-style: New monospace;
    font size: 16px;
    color: #4C5454;
}
h1{
    font size: 22px;
    padding-left: 20px;
}
h2{
    font size: 20px;
    padding-left: 50px;

}
section{
    padding-left: 50px;
}
img{
    
}

